*.pyc
db.sqlite3
virtualenv/
virtualenv-prod/
logs/
.vscode/PythonImportHelper*
.vscode/.ropeproject/objectdb
kbackend/core/static/
kbackend/core/logs/
kbackend/server.crt
kbackend/server.key
kBackend.pem
.env
